.react-super-action-menu {
	position: relative
    display: inline-block
	.action-menu {
		left: auto
		right: 0
		display: block
		height: auto
		border: 1px solid $salt600
		border-radius: 2px
		top: calc(100% + 1px)
		text-align: left
		min-width: 100%
		max-width: 450px
		background-color: #fff
		box-shadow()
		position: absolute
		z-index: 1000

		menu {
			overflow-x: hidden
			overflow-y: auto
			max-height: 200px
			padding: 0
			list-style: none
			display: block
		}
	}
}
