.action-menu {
	.action-menu-item {
		padding-top: 8px
		white-space: nowrap
		overflow: hidden
		-o-text-overflow: ellipsis
		text-overflow: ellipsis
		line-height: 1.4
		padding: 6px 12px
		width: 100%
		&:hover {
			cursor: pointer
			background-color: #f1f3f5
		}
	}
}
